client/build/main.js
client/build/css/*
client/build/images/*
.DS_Store
client/node_modules/*
DataScraping/*
*.0000
*.frame_idx
*.sidx
*.csv
*.ini
*.docx
*.xls
*.ipynb
*.pem

client/build/index.html

server/scrapers/SRA/subset_testdf_sframe/objects.bin

server/scrapers/SRA/subset_testdf.txt

metaseek_schema.xlsx

*.ipynb

server/scrapers/SRA/SRA_scrape_fns.pyc

*.ipynb

metaseek_schema.txt

server/scrapers/SRA/SRA_AutoIngest_dev.ipynb
