@import 'colors';

/*browse discoveries styles */
.browse-discoveries-header {
  margin: 36px auto 18px auto;
  width:85%;
  max-width:1176px;
  font-weight: 400;
  font-size: 30px;
}

.browse-discoveries-table {
  padding:0px;
  margin: auto;
  width:85%;
  max-width:1176px;
}

.browse-discoveries-table thead {
  background-color:$accent;
}

@media (max-width: 500px) {
  .browse-discoveries-header {
    width: 95%;
    font-size:24px;
  }

  .browse-discoveries-table {
    width: 95%;
  }
}
