/* Jungle from http://design.vitalsource.com/ */
$default: #1fb380;
$dark: #16825c;
$light: #24c991;
$lighter: #55d5a9;
$lightest: #86e0c2;

/* Magic from http://design.vitalsource.com/ */
$accent: #516dbb;
$accentDark: #24386e;
$accentLight: #D2D9ED;

/* Greys */
$cloud1  : #FAFAFA;
$cloud2  : #F6F6F6;
$cloud3  : #ECECEC;
$cloud4  : #DADADA;
$cloud5  : #B3B3B3;
$cloud6  : #949494;
$cloud7  : #757575;
$cloud8  : #646464;
$cloud9  : #525252;
$cloud10 : #3c3c3c;

/* valid / invalid */
$no   : #cc313d;
$yes  : #0a870a;

/* chart colors */
$magicLow   : #D2D9ED;
$magicMid   : #425ba1;
$magicHigh   : #24386e;

$oceanLow   : #b0e3f4;
$oceanMid   : #007fad;
$oceanHigh   : #005a75;

$brickLow   : #FAC3BB;
$brickMid   : #D24634;
$brickHigh   : #9E3528;

$mistLow   : #C9E5EA;
$mistMid   : #4F7E87;
$mistHigh   : #324E54;

$eggplantLow   : #DDCBE9;
$eggplantMid   : #684182;
$eggplantHigh   : #3F284F;

$white: #fff;
$black: #000;
