@import 'colors';

/* Discovery Details */
.discovery-description {
  font-style: italic;
  text-align: center;
  margin: 10px 18px 25px 18px;
}

.download-button-container {
  text-align: center;
  margin: 56px 10px 15px;
}

.download-button-metadata {
  margin: 0 1%;
}

.discovery-filterparam-table-container {
  overflow: visible;
}

.discovery-filterparam-table-header {
  background-color: $accent;
}

.filterparam-table {
  margin: 10px 18px 12px 18px;
  overflow: visible;
}

.filterparam-table-title {
  font-size: 18px;
  font-weight: 600;
  color: $cloud6;
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
}

.discovery-header {
  margin: 36px 0 36px 18px;
  overflow: visible;
}

.discovery-header-summary {
  display: block;
}
.discovery-header-summary-left {
  margin: 0 18px 0 0;
  width: 480px;
  display: inline-block;
  vertical-align: top;
}

.discovery-header-summary-right {
  margin: 0 0 0 18px;
  padding-top: 36px;
  display: inline-block;
  vertical-align: top;
  width: 480px;
  float: right;
}

.discovery-header-first {
  margin: 0 0 14px 0;
  font-weight: 300;
  position: relative;
  display: block;
  top: 28%;
  font-size: 18px;
  color:$cloud8;
  text-align: right;
}

.discovery-header-first .active {
  font-weight: 700;
  font-size: 38px;
  color: $light;
}

.discovery-header-second {
  font-weight: 700;
  position: relative;
  display: block;
  top: 28%;
  font-size: 38px;
  color: $light;
  margin: 0 0 14px 0;
  text-align: right;
}

.discovery-header-user {
  color: $cloud10;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: right;
}

.discovery-datasets-title-container {
    width: 100%;
    height: 45px;
    background-color: $cloud2;
    padding: 12px;
}

.discovery-datasets-title {
  font-size: 18px;
  font-weight: 600;
  color: $cloud6;
  font-family: 'Roboto', sans-serif;
  height: 50px;
}
