/* Explore page uses a simple grid system, defined here */
@import 'colors';
@import 'loaders';

.save-discovery-button-container {
  margin: 0 auto;
  position: relative;
}

.save-discovery-button {
  width: 200px;
  margin: 18px 0 18px -100px;
  left: 50%;
  position: relative;
}

.overview-content {
  font-weight: 300;
  position: relative;
  display: block;
  top: 28%;
  font-size: 18px;
  color:$cloud10;
  margin: 26px 0 26px 0;
  text-align: center;
}

.overview-content .active {
  font-weight: 700;
  font-size: 38px;
  color: $light;
}

.overview-content-download {
  font-weight: 700;
  position: relative;
  display: block;
  top: 28%;
  font-size: 38px;
  color: $light;
  margin: 62px 0 62px 0;
  text-align: center;
}

.overview-content-user {
  font-weight: 300;
  position: relative;
  display: block;
  top: 28%;
  font-size: 18px;
  color:$cloud10;
  text-align: center;
  margin: 36px 0 0 0;
  padding: 0 20px 0 20px;
}

.overview-content-user-inactive {
  margin: 18px 0 36px 0;
  text-align: center;
}

.overview-content-user-active {
  text-align: center;
  margin: -20px 0 0 0;
}

.user-photo {
  float: left;
}

.user-active-message {
  text-align: right;
  padding: 18px 0 10px 0;
}

.overview-title {
  font-size:18px;
  font-weight: bold;
  color: $cloud10;
}

.gloss-icon-wrapper {
  float: right;
  margin-top: -2px;
  margin-right: 12px;
}

.figure-hint-tooltip {
  width: 200px;
  white-space: normal;
  text-align: left;
  color: $accent;
  background-color: $white;
  border-color: $accent;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.figure-hint-label {
  color: $cloud10;
  font-size: 14px;
  padding-left: 10px;
}

.figure-hint-container {
  display: block;
}

.figure-hint-container-map {
  margin: -14px 0 10px -10px;
}

/* Explore layout */

.subscribe-explore-yes {
  display: inline-block;
  width: 45%;
}

.subscribe-explore-no {
  display: inline-flex;
  width: 45%;
  margin-left: 24px;
}

.subscribe-explore-body {
  text-align: center;
}

.filter-field-with-help {
  float: left;
}

.collapsible-container {
  background: $accentLight;
}

/* Grid layout for cards */
.explore-container {
  width: 100%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 340px 1fr 165px 165px 165px 165px 165px 165px 1fr 0px;
  grid-template-rows: 48px 68px 250px 400px 400px 563px 1fr;
  grid-gap: 18px 18px;
}

.explore-child-grid {
  grid-area: 4 / 3 / span 3 / span 6;
  display: inherit;
  grid-gap: 18px 18px;
  grid-template-columns: 165px 165px 165px 165px 165px 165px;
  grid-template-rows: 400px 400px 563px;
}

.explore-headline {
  grid-area: 1 / 1 / span 1 / span 10;
}

.save-discovery-button-container {
  grid-area: 2 / 1 / span 1 / span 10;
}

.explore-number-datasets {
  grid-area: 3 / 3 / span 1 / span 2;
  padding: 18px;
  height: 250px;
}

.explore-total-download {
  grid-area: 3 / 5 / span 1 / span 2;
  padding: 18px;
  height: 250px;
}

.explore-user {
  grid-area: 3 / 7 / span 1 / span 2;
  padding: 18px;
  height: 250px;
}

.explore-general {
  grid-area: 1 / 1 / span 1 / span 3;
  padding:3px;
}

.explore-sequencing {
  grid-area: 1 / 4 / span 1 / span 3;
  padding:3px;
}

.explore-pie {
  grid-area: 2 / 1 / span 1 / span 2;
  padding:3px;
}

.explore-sequencing-hist {
  grid-area: 2 / 3 / span 1 / span 4;
  padding:3px;
}

.explore-map {
  grid-area: 3 / 1 / span 1 / span 4;
  height:563px;
  padding:18px;
}

.explore-wordcloud {
  grid-area: 3 / 5 / span 1 / span 2;
  padding:3px;
  overflow-y:scroll;
}

.explore-map-contents {
  position: absolute;
  margin: 0 0 0 0;
}

.map-legend{
  float: right;
}

.explore-map-render {
  margin: 0 0 0 0;
}

.explore-table {
  padding:0px;
  grid-area: 7 / 3 / span 1 / span 6;
}

.explore-filter {
  margin: 12px 0 0 12px;
  grid-area: 1 / 1 / span 3 / span 1;
}

.explore-filter-slider {
  height: 6px;
  margin-top: -6px;
}

.profile-container {
  display:block;
}

.profile-image {
  width: 150px;
  height: 150px;
  display: inline;
}

.profile-button {
  position: relative;
}

.word-cloud-tag-wrapper {
  border: 2px solid $cloud4;
  border-radius: 2px;
  background-color: $white;
  display: inline-block;
  padding: 6px;
  margin: 3px;
}

.word-cloud-tag {
  display:block;
}

.word-cloud-tooltip {
  white-space: normal;
  background-color: $white !important;
  border-color: $default !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 5px !important;
  padding: 4px 8px !important;
}

.word-cloud-tooltip::before {
  border-top: 8px solid $default !important;
}

.pie-container {
  width: 360px;
  margin: 0 0 0 0;
  height: 320px;
  overflow:hidden;
}

.radar-container {
  margin: 0 auto;
  overflow:hidden;
}

.area-container > svg > g > text > tspan {
  fill: none !important;
}

.explore-select {
  margin-left: 10px;
  height: 50px;
}

.explore-pagination {
  padding: 12px;
  text-align: right;
}

.explore-pagination-count {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}

.table-header {
  background-color: $accent;
}

.range-slider {
  margin-top: 15px;
  width: 96%;
  margin-left: 2%;
  clear: both;
}

.range-slider-with-text {
  width: 100%;
  height: 30px;
  position: relative;
}

.range-slider-with-text-left {
  float: left;
  display: flex;
  width: 10%;
  margin-right: 4%;
}

.range-slider-with-text-center {
  float: left;
  width: 71%;
  margin-top: 20px;
}

.range-slider-with-text-right {
  float: right;
  display: flex;
  width: 10%;
  margin-left: 5%;
}


.chips {
  min-height: 36px;
  border-bottom: 1px solid rgb(224, 224, 224);
  line-height: 1;
  font-size: 1em;
}

.chips-input {
  display: inline-block;
  width: 33% !important;
  min-height: 36px;
  margin: 0 0 5px 10px !important;
  border: 0;
  outline: none;
  font-size: 0.9rem;
  border-bottom: none !important;
  box-shadow: none !important;
}

.chip {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 25px;
  position: relative;
  padding: 0;
  height: 32px;
}

.chip .chip-value {
  display: inline-block;
  padding-left: 15px;
  padding-right: 7.5px;
  background: #555;
  color: #fff;
  font-weight: bold;
  border-radius: 15px 0 0 15px;
}

.chip .chip-delete-button {
  background: #555;
  color: #fff;
  border: 0;
  border-radius: 0 15px 15px 0;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -25px;
  line-height: 0.5;
  font-weight: bold;
}
