@import 'colors';

.glossary-paper {
  margin: 0 15% 0 15%;
}

.glossary-item {
  margin: 0 15% 5% 15%;
  text-align: "left";
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.glossary-term {
  padding: 0 0 0 15%;
  text-align: "left";
}
