@import 'colors';

.myacct-loggedout {
  margin: 48px auto;
  width: 75%;
  max-width:600px;
  height: 200px;
  padding: 24px 20px 50px 20px;
}

.myacct-loggedin {
  margin: 48px auto;
  margin-bottom: 15px;
  width: 80%;
  max-width:1176px;
  height: 200px;
}

.myacct-user {
  margin: 24px 0 0 220px;
  position: absolute;
}

.myacct-name {
  margin-top: .5rem;
  font-size: 2.2em;
  text-align: left;
}

.myacct-user-discoveries {
  text-align: left;
}

.myacct-logout-button {
  margin: 16px 0 0 0;
}

.profile-image-myacct {
  width: 200px;
  height: 200px;
  float: left;
}

.login-buttons {
  text-align: center;
  margin: 20px;
}

.myacct-discoveryhead {
  margin: 0 auto;
  width: 1170px;
  height: 100px;
}

.user-discoveries-table {
  padding:0px;
  margin: 36px auto;
  width: 80%;
  max-width:1176px;
  clear: both;
}

.user-discoveries-table thead {
  background-color:$accent;
}

@media (max-width: 500px) {
  .myacct-loggedin {
    margin: 24px auto 8px;
    width: 95%;
    height: 120px;
  }

  .myacct-name {
    margin: 8px 0 8px 8px;
    font-size: 1.6em;
  }

  .myacct-user {
    margin: 0 0 0 120px;
    position: absolute;
  }

  .profile-image-myacct {
    width: 120px;
    height: 120px;
  }

  .myacct-user-discoveries {
    margin-left:8px;
  }

  .myacct-logout-button {
    margin: 8px 0 0 8px;
  }

  .user-discoveries-table {
    width:95%;
  }

  .myacct-loggedout {
    width: 90%
  }
}
