@import 'colors';

.welcome-container {
  text-align: center;
}

.welcome-first {
  width: 100%;
  height: 600px;
  background-image: url('/images/welcome-hero.jpg');
  background-size: cover;
}

.welcome-text {
  color: $white;
  padding: 36px;
  margin: 0;
}

.welcome-title {
  color: $white;
  font-size: 4.5rem;
  font-weight: 700;
  padding: 90px 0 36px 0;
  margin: 0;
}

.subscribe-form-label {
  color: $white;
  line-height: 150%;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 48px;
}

.subscribe-reqd {
  color: $accent;
  font-size: 20px;
}

.subscribe-table {
  width: 400px;
  display: inline-block;
  text-align: left;
}

.subscribe-input {
  background: #fff;
  height: 36px;
  width: 100%;
  border: 2px solid $cloud2 !important;
  border-radius: 3px;
  margin: 3px 0 12px 0;
  overflow: hidden;
}

.subscribe-button {
  background-color: $default !important;
  color: $white;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  height: 42px;
  margin: 12px auto;
  padding: 0 22px;
  border: 0;
  border-radius: 3px;
  display: block;
}

.welcome-features {
  background-color: $white;
  display: inline-block;
  width: 100%;
}

.feature-block {
  width: 300px;
  margin: 25px 50px;
  display: inline-block;
  vertical-align: top;
}

.feature-block img {
  width: 256px;
}

.feature-block-title {
  font-size: 42px;
  font-weight: 600;
  margin: 10px auto;
}

.feature-block-body {
  font-size: 18px;
}

.welcome-how {
  background-color: $cloud10;
  display: inline-block;
  width: 100%;
}

.welcome-how-header {
  color: $white;
  margin: 36px;
  font-size: 42px;
  font-weight: 400;
}

.welcome-how-subheader {
  color: $white;
  margin: 10px 10%;
  line-height: 1.4em;
}

.welcome-how-graphic {
  margin: 36px 36px 18px 0;
  margin-top: 5px;
  float: left;
  width: 480px;
}

.welcome-how-graphic img {
  width: 100%;
}

.welcome-how-explainer {
  margin: 36px;
}

.welcome-how-explain-header {
  text-align: left;
  color: $white;
  margin: 36px;
  font-size: 30px;
  font-weight: 300;
}

.welcome-how-explain-body {
  text-align: left;
  color: $white;
  margin: 0 10% 0 36px;
  font-size: 18px;
  line-height: 1.4em;
}

.welcome-announce {
  font-size: 2.6em;
  margin-top: 50px;
  font-weight: 500;
}

.welcome-enter {
  font-size: 1.1em;
  text-align: center;
}

.welcome-cta {
  width: 150px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
}

.welcome-signup-submit {
  text-align: center;
  margin: 12px auto 25px;
  width: 400px;
  padding: 5px;
}

.welcome-email-field {
  display: block;
  margin: 0 auto;
}

.welcome-footer {
  padding: 16px;
}


/* Github follow buttons */

button.github, input[type=submit].github {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: $white;
  padding: 2rem
}

button.github, input[type=submit].github {
  background: #82d465
}

button.github:after, input[type=submit].github:after {
  background: #5cc437
}

@media (max-width: 1210px) {
  .feature-block {
    width: 256px;
    margin: 25px 25px;
  }

  .feature-block img {
    width: 200px;
  }

  .feature-block-title {
    font-size: 36px;
  }
}

@media (max-width: 920px) {
  .feature-block {
    width: 60%;
    margin: 0px 0px;
  }

  .feature-block img {
    width: 300px;
  }

  .welcome-how-graphic {
    width:80%;
    margin: 36px auto;
    float:none;
  }

  .feature-block-title, .welcome-how-header, .welcome-how-explain-header {
    font-size: 46px;
  }

  .feature-block-body, .welcome-how-subheader, .welcome-how-explain-subheader {
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .feature-block {
    width: 75%;
  }

  .feature-block img {
    width: 256px;
  }

  .feature-block-title, .welcome-how-header, .welcome-how-explain-header {
    font-size: 36px;
  }

  .feature-block-body, .welcome-how-subheader, .welcome-how-explain-subheader {
    font-size: 18px;
  }

  .welcome-first {
    height:100%;
  }

  .welcome-text {
    padding: 36px 0 0 0;
    font-size: 18px;
    width:80%;
    margin: 0 auto;
  }

  .welcome-title {
    font-size: 36px;
    font-weight: 500;
    padding: 36px 0 0px 0;
  }

  .subscribe-form-label {
    font-size: 18px;
    margin-top: 36px;
    width:75%;
    margin: 36px auto 18px;
    font-weight: 300;
  }

  .subscribe-reqd {
    color: $accent;
    font-size: 20px;
  }

  .subscribe-table {
    width: 400px;
    display: inline-block;
    text-align: left;
  }
  .subscribe-button {
    margin-bottom:36px;
  }
  .welcome-how-graphic {
    width: 100%;
    margin: 0 auto 36px;
  }
}

@media (max-width: 500px) {
  .feature-block {
    width: 88%;
  }
  .subscribe-table {
    width:88%;
  }
}
